*{
    margin: 0%;
    padding: 0%;
    outline: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}

/* CORES DO PROJETO */
:root{
    --rose: #e4bba1;
    --blood: #570000;
    --black: #020202;
    --mediumgray: #737373;
    --gray: #d9d9d9;
    --blackgray: #545454
}

/* ESTILIZACAO DE CABEÇALHO */
#cabecalho{
    width: 100vw;
    height: 15vh;
    background-color: var(--blood);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
nav{
    align-content: end;
}
#cabecalho .nome_vp{
    height: 50px;
}
nav a img {
    height: 35px;
    margin: 5px;
}
nav a{
}

/* ESTILIZACAO AREA DE INICIO */
#inicio{
    width: 100vw;
    height: 85vh;
    background-color: #020202;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    background: linear-gradient(45deg, #e4bba1 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

/* ESTILIZANDO PERFIL */
#perfil{
    height: 80vh;
    width: 100vw;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
#perfil img{
    height: 80%;
    width: auto;
    border-radius: 50%;
}
#perfil .conteudo {
    width: 50vw;
    color: var(--blood);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#perfil .conteudo p{
    margin: 10px;
}

/* ESTILIZANDO HABILIDADES */
#habilidades{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--blood);

    background: linear-gradient(-233deg, #e4bba1 40%, rgba(0, 0, 0, 0) 65%) no-repeat;

}
#habilidades .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
#habilidades .conteudo img {
    height: 200px;
}
#habilidades .conteudo div{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

/* ESTILIZAÇÃO DE PROJETOS */
#projetos{
    height: 120vh;
    width: 100vw;
    background-color: var(--mediumgray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#projetos .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#projetos img{
    height: 200px;
    width: auto;
    border-radius: 50%;
}
#projetos .projeto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--blood);
    margin: 45px;
}

/*ESTILIZAÇÃO DO RODAPÉ */
#rodape {
    height: 30vh;
    width: 100vw;
    background-color: var(--blood);
    display: flex;
    justify-content: center;
    align-items: center;
}
#rodape .nome_vp{
    height: 45px;
    margin: 25px;
}
#rodape #redes_de_contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#rodape #redes_de_contato div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#rodape #redes_de_contato img{
    height: 35px;
}